resources:
  limits:
    cpu: 25m
    memory: 50Mi
  requests:
    cpu: 25m
    memory: 50Mi
prometheus:
  enabled: false
horizontalPodAutoscaler:
  minReplicas: 2
  maxReplicas: 8
  resources:
    cpu:
      type: Utilization
      averageUtilization: 50
    memory:
      type: Utilization
      averageUtilization: 50
  metrics:
    golang_sample_app_requests_per_second:
      type: AverageValue
      averageValue: 10
image:
  registry: ghcr.io
  repository: jhandguy/horizontal-pod-autoscaler/golang-sample-app
  tag: 1.0.0
